# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environnements
# ======================
venv/
.env/
.env
**/.DS_Store
.gitkeep

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# VSCode / IDE
# ======================
.vscode/
.idea/
.postman/

# ======================
# R / RStudio
# ======================
.Rhistory
.RData
.Rproj.user/
.Ruserdata
*.Rproj

# ======================
# Keynote
# ======================
*.key

# ======================
# Folders
# ======================

reports/
outputs/
postman/
logs/
build/

# ======================
# Packages
# ======================
*.egg-info/

# ======================
# Files
# ======================
